<div class="title-bar nine columns">
  <div class="alignleft"><strong> New Saved Roll </strong></div>
  <div class="clear"></div>
</div>

<div class="message-box five columns">
  <%= form_for [@user, SavedRoll.new], url: player_saved_rolls_path do |f| %>
    <div class="twelve columns" id="saved_roll_form">
      <%= f.label :name, "Roll Name" %>

      <%= f.text_field :name, autofocus: true, autocomplete: "off", placeholder: "Fireball" %>
      <div class="favorite-roll-box">
        <div class="five columns">
          <%= f.label :dice_count, "Dice Count" %>
          <%= f.select(:dice_count, @roll_limit.map { |dice_pool| [ dice_pool, dice_pool ] }) %>
        </div>

        <%= f.collection_radio_buttons(:die_size,  @die_stats, :first, :last, checked: 20) do |b| %>
          <div class="five columns dice-tile">
            <%= b.label { image_tag("#{b.text}") + b.radio_button } %>
          </div>
        <% end %>

        <%= f.label :bonus, "Bonus" %>
        <%= f.text_field :bonus, autocomplete: "off", class: "dice-tile" %>
      </div>
      <%= f.submit "Save Roll" %>
    </div>
  <% end %>
</div>
