<div class="dice-box three columns">
  <%= form_for [@table, DieRoll.new], remote: true do |f| %>
    <div class="five columns dice-tile">
      <%= f.select(:dice_count, @roll_limit.map { |dice_pool| [ dice_pool, dice_pool ] }) %>
    </div>

    <%= f.collection_radio_buttons(:die_size,  @die_stats, :first, :last, checked: 20) do |b| %>
      <div class="five columns dice-tile">
        <%= b.label {
           image_tag("#{b.text}") + b.radio_button
           } %>
      </div>
    <% end %>

    <label for="die_roll_bonus"> <strong style="font-size: 14pt">Bonus:</strong></label>
    <%= f.text_field :bonus, autocomplete: "off", class: "scrap" %>
    <%= f.submit "Roll 'em!" %>
  <% end %>
</div>
