<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<h1>Tables</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.tables .each do |table| %>
      <tr>
        <td><%= table.name %></td>
        <td><%= link_to 'Show', table %></td>
        <td><%= link_to "Leave", table_invitations_path(table), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table', new_table_path %>
<% end %>
