<div class="title-bar ten columns">
  <div class="alignleft"><strong> Name: </strong><%= @table.name %></div>
  <div class="alignright"><%= @table.game_master.username %><strong> :GM </strong></div>
  <div class="clear"></div>
</div>

<div class="message-box ten columns">
  <div class="ten columns" data-behavior='messages' data-table-id='<%= @table.id %>'>
    <% @messages.each do |message| %>
      <%= render message %>
    <% end %>

  </div>

  <%= render 'dice_box', table: @table %>

  <div class="message-form-box twelve columns">
    <%= form_for [@table, Message.new], remote: true do |f| %>
      <%= f.text_field :body, autocomplete: "off", autofocus: true %>
    <% end %>
  </div>
</div>
