<div class="title-bar ten columns">

</div>

<div class="message-box ten columns">
  <div class="ten columns" data-behavior='messages' data-table-id='<%= @table.id %>'>
    <% @messages.each do |message| %>
      <%= render message %>
    <% end %>

  </div>

  <%= react_component("DiceBox", props: { roll_limit: @roll_limit, selected_set: @selected_set, dice_sets: @dice_sets, table_id: @table.id }, prerender: false) %>

  <div class="message-form-box twelve columns">
    <%= form_for [@table, Message.new], remote: true do |f| %>
      <%= f.text_field :body, autocomplete: "off", autofocus: true %>
    <% end %>
  </div>
</div>
