<div class="title-bar ten columns">
  <p><strong> Name: </strong><%= @table.name %></p>
</div>

<div class="message-box">
  <div data-behavior='messages' data-table-id='<%= @table.id %>'>
    <% @messages.each do |message| %>
      <%= render message %>
    <% end %>

  </div>

  <div class="message-form-box">
    <%= form_for [@table, Message.new], remote: true do |f| %>
    <%= f.text_field :body, rows: 1, autofocus: true %>
    <% end %>
  </div>
</div>
