<!DOCTYPE html>
<html>
  <head>
    <title>Roll For Init</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'react-application' %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div id="wrapper">
        <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
        <div class="menu">
          <ul>
            <% if user_signed_in? %>
              <li>
                <%= link_to current_user.username, player_path(current_user) %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
                <%= link_to "Tables", tables_path %>
                <%= link_to "Settings", edit_user_registration_path %>
              </li>
            <% else %>
              <li><%= link_to "Log In", new_user_session_path %></li>
            <% end %>
          </ul>
          <div class="pull-tab">
            <label class="menu-title" for="menu"><span>Roll for Initiative</label>
            <label class="menu-toggle" for="menu"><span>Notes</span></label>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </nav>
    <div>
      <div class="row">
        <div class="view-port">
          <% if flash.any? %>
          <div class="flash">
            <div>
              <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
              <% end %>
            </div>
          </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
