<!DOCTYPE html>
<html>
  <head>
    <title>DiceRoller</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul class="navbar">
      <% if user_signed_in? %>
        <%= yield :right_nav %>

        <li>
          <a href="#"><%= current_user.username %></a>
          <ul>
            <li><%= link_to "Settings", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
    <div>
      <div class="row">
        <div class="sidebar-left two columns">
          <% if user_signed_in? %>
            <h5>Tables</h5>
            <ul>
              <% current_user.tables .each do |table| %>
              <li><%= link_to table.name, table, data: {behavior: "table-link", table_id: table.id} %></li>
              <% end %>
            </ul>
          <% end %>
        </div>

        <div class="view-port ten columns">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
